ul {
    background-color: lightblue;
    font-weight: bold;
    border: 1px solid darkgray;
    padding: 1em;
}

li {
    list-style: none;
}

.error, .info {
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0;
}

.info {
    background-color: white;
}

.error {
    background-color: red;
}